 <% include ../partials/header %>
 <section>
   <div style="background:#e9ecef;">
     <b>Navigation</b> - &nbsp; <a href="http://localhost:3000" style="text-decoration: none;">Home</a> / <button type="submit" class="btn btn-warning">Books</button>
     <a href="/books/new">
     <button type="submit" class="btn btn-success" style="position:relative;left:69%;">New Book</button>
     </a>
   </div><br/>
   <div class="row">
          <% for ( let book of books ) { %>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                    Name: <%= book.name %>
                  </h5>
                  <p>
                   Author: <%= book.author %>
                  </p>
                  <p>
                   Year: <%= book.year %>
                  </p>
                  <a href="#" class="btn btn-primary">
                    Price: $<%= book.price %>
                  </a>
                </div>
              </div>
            </div>
          <% } %>
            </div>
      </section>
 <% include ../partials/footer %>
