<footer style="background: #e9ecef;">
  <div style="height: 100px;">
    <div align="center" style="position :relative; top:40%;">
      Manjeet Singh, Student# 200359468 | Harmandeep Singh, Student# 200350932 | &copy;2018 MS Book Store
    </div>
  </div>
</footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  </body>
</html>
